<nav class="navbar navbar-default">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">Recipe Book</a>
  </div>

  <div class="collapse navbar-collapse">
    <ul class="navbar navbar-nav">
      <li><a href="#">Recipes</a></li>
      <li><a href="#">Shopping List</a></li>
    </ul>
    <ul class="navbar navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="btn btn-primary" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseMenu"></a>
        <ul class="dropdown-menu" id="collapseMenu">
          <li><a href="#">Save Data</a></li>
          <li><a href="#">Fetch Data</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>